
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Teko:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
}

.site {
position: relative;
width: 1440px;
margin: 0 auto;
max-width: 100%;
padding: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
Link {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: black;
}

button {
  outline: none;
  border: none;
  background-color: #FCC42E;
  border-radius: 6px;
  font-family: 'Teko', sans-serif;
  cursor: pointer;
}

p {
  font-family: 'Roboto', sans-serif;

}

h3 , h4 , h5{
  font-family: 'Teko', sans-serif;
}



.specialTitle {
  color: #fcc42e;
  font-weight: 450;
  font-size: 28px; 
  font-family: 'Roboto', sans-serif;
}

.specialTitle::before{
  background-color: #fcc42e;
  content: "";
  display: inline-block;
  height: 3px;
  position: relative;
  vertical-align: middle;
  width: 40px;
}

/*navbar styling*/

.navbar {
  display: flex;
  height: auto;
  min-height: 80px;
  width: 100%;
  max-width: 1440px;
  align-items: center;
  justify-content: space-around;
  z-index: 1;
  position: fixed;
  top: 0;
  background-color: white;
}

.logo {
  width: 10.47%;
}
 
ul {
  position: relative;
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: space-between;
  width: 36.63%;
  right: 12%;
}

li {
  font-family: 'Teko', sans-serif;
  font-size: 1.4vw;
}



.navbarBtn {
  position: relative;
  height: 35px;
  width: 12%;
  font-size: 1.3vw;
  white-space: nowrap;
  font-weight: 600;
}

/*Intro Acceuil Styling*/


.accueilIntro {
  
  height: auto;
  margin-top: 80px;
  background: transparent linear-gradient(180deg, #F5EBFE 0%, var(--unnamed-color-d9cefe) 100%) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(180deg, #F5EBFE 0%, #D9CEFE 100%) 0% 0% no-repeat padding-box;
}

.introContainer {
  display: flex;
 
  padding: 4% 0;
  
}

.acceuilIntroText {
  width: 30%;
  padding-top: 1%;
  position: relative;
  margin-right: 7%;
  margin-left: 7%;
  margin-right: 3.23%;
}

.acceuilIntroText p {
  width: 70%;
  padding-top: 2%;
  font-size: 1vw;
  font-weight: 500;
}

.acceuilIntroBtnPlay{
  display: flex;
  align-items: center;
  padding-top: 7%;
}

.acceuilIntroPlay {
  display: flex;
  align-items: center;
  margin-left: 20%;
 
}

#playVideo {
  padding-left: 8%;
  white-space: nowrap;
}

.play {
  width: 80%;
}

.acceuilIntroBtn {
  height: 5vh;
  width: 20%;
  font-size: 1.4vw;
}


#introTitle {
  font-size: 2.5vw;
}

.introImg {
  position: relative;
  width: 57%;
  height: auto;
}

/*page d'accueil services component styling */

.service {
  margin-top: 5%;
}


.serviceContainer {
  display: flex;
  margin-left: 7%;
  margin-right: 7%;
}

.left {
  display: flex;
  flex-direction: column;
  padding: 5% 0;
  justify-content: space-between;
  width: 32%;
  margin-right: 10%;
}

.serviceLeft {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.serviceText {
  text-align: right;
  width: 60%;
  font-size: 1vw;
}

.serviceTextRight {
  width: 70%;
  font-size: 1vw;
}

.serviceText h4 , .serviceText h4 {
  font-size: 1.2vw;
}

.serviceImg {
  width: 20%;
}

.serviceImgWeb {
  width: 30%;
}

#guy {
  width: 22%;
  padding: 10% 0;
}

.right {
  display: flex;
  flex-direction: column;
  padding: 5% 0;
  width: 32%;
  margin-left:10%;
  
}

.serviceRight {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#one {
  margin-top: 20%;
}

/*page d'accueil partie à propos */ 

.about {
  margin-left: 7%;
  margin-right: 7%;
  margin-top: 5%;
  display: flex;
  
}

.aboutImg {
  width: 57%;
  margin-right: 10%;
}

.abouText {
  width: 28%;
  padding-top: 6%;
}


.abouText .specialTitle {
  font-size: 1.5vw;
  margin-bottom: 5%;
}

.abouText h4 {
  width: 70%;
  font-size: 2.8vw;
  margin-bottom: 4%;
}

.aboutPara {
font-size: 1.1vw;
font-weight: 500;
width: 100%;
}

.aboutButton {
  margin-top: 25%;
  height: 12%;
  width: 30%;
  font-size: 1.3vw;
}

/*page d'accueil partie méthode*/

.method {
  margin-right: 7%;
  margin-left: 7%;
  margin-bottom: 6%;
}
#methodIntro {
  text-align: center;
  margin-top: 2%;
  font-size: 2.5vw;
  font-weight: 500;
  margin-bottom: 5%;
}


.circles {
  position: relative;
  width: 95%;
  margin: auto;
}

.methodContainer {
  position: relative;
}

.methodItem {
  display: flex;
  flex-direction: column;
  width:15vw;
  position: absolute;
}

.methodItem h5 {
  width: 3.44%;
  font-size: 1.2vw ;
}
.methodItem p {
  font-size: 1vw;
}


.item1  h5 {
  font-size: 1.3vw;
  }
  
  .item1 p {
  font-size: 0.9vw;
  }
.item2  h5 {
font-size: 1.3vw;
}

.item2 p {
font-size: 0.9vw;
}

.item3  h5 {
  font-size: 1.3vw;
  }
  
  .item3 p {
  font-size: 0.9vw;
  }

  .item4  h5 {
    font-size: 1.3vw;
    }
    
    .item4 p {
    font-size: 0.9vw;
    }
.item1 {
  bottom: 160px;
 
}

.item2 {
left: 30%;
top: 150px;
}
.item3 {
  left: 52%;
  bottom: 150px;
}

.item4 {
  right: 0%;
  top: 160px;
}

span {
  font-size: 3vw;
}

/*page d'accueil réferences*/


.references {
  display:flex;
  flex-direction: column;
  margin-left: 7%;
  margin-right: 7%;
  width: 86%;

}

.references p {
  font-size: 1.5vw;
  margin-bottom: 2%;
}


.refContainer {
  display: flex;
  flex-direction: column;
}

.refMenuBar {
  display: flex;
  justify-content: space-between;
  height: 80px;
  width: 100%;
}

.refBtns {
  width: 17%;
  background-color: white;
  border-top: 3px solid #D7CFFA;
  border-radius: 0;
  font-size: 1.8vw;
  font-weight: 500;
}

.refBtns:focus {
  background: transparent linear-gradient(180deg, #F5EBFE 0%, var(--unnamed-color-d9cefe) 100%) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(180deg, #F5EBFE 0%, #D9CEFE 100%) 0% 0% no-repeat padding-box;
  border-radius: 45px 45px 0px 0px;
  opacity: 1;
  border: none;
}


.refTemplatesContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  width: 99.5%;
  border-radius: 0 0 45px 45px;
  border: 3px solid #D7CFFA;  
}

.template {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: space-between;
 }

.templateSlider{
  width: 70%;
  display: flex;
  overflow-x: scroll;
  margin: 5% 0;
  padding: 4% 0;
  align-items: center;
  border-radius: 45px 0px 0 45px;
  background: transparent linear-gradient(180deg, #F5EBFE 0%, var(--unnamed-color-d9cefe) 100%) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(180deg, #F5EBFE 0%, #D9CEFE 100%) 0% 0% no-repeat padding-box;
  margin-left: 10%;
  height: 397px;
  
}

.templateSlider::-webkit-scrollbar {
  display: none;
} 


.sliderImg {
  margin-right: 3%;
  max-width: 150px;}

.sone {
  width: 50%;
  margin-left: 10%;
}
.templateText {
  padding: 5%  0;
  padding-left: 7%;
  width: 19%;
}

.templateText h4 {
  width: 100%;
  font-size: 2.5vw;
  margin-bottom: 3%
}

.templateText p {
  width: 100%;
  font-size: 1.2vw;
  margin-left: 4%;
}

.textCheck {
  display: flex;
  align-items: space-between;
  margin-top: 7%;
}






/*brands (page d'accueil) styling */
.brands {
  display: flex;
  align-items: center;
  height: 120px;
  width: 100%;
  margin-top: 79px;
  margin-bottom: 80px;
  background: transparent linear-gradient(180deg, #F5EBFE 0%, var(--unnamed-color-d9cefe) 100%) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(180deg, #F5EBFE 0%, #D9CEFE 100%) 0% 0% no-repeat padding-box;
  }
  
  .brands p {
    width: 11.67%;
    font-size: 2vh;
    margin-left: 7.29%;
    margin-right: 5.21%;
  }
  
  .clients-logo {
    display: flex;
    overflow-x: auto;
    
  }
  
  .clients-logo::-webkit-scrollbar {
   
    border-radius:30px;
    height: 5px;
  }
  
  .clients-logo::-webkit-scrollbar-thumb {
    background: #F5EBFE; 
    border-radius: 10px;
    height: 4px;
  }






  

  .introAgence{
    margin-top: 80px;
    background: transparent linear-gradient(180deg, #F5EBFE 0%, var(--unnamed-color-d9cefe) 100%) 0% 0% no-repeat padding-box;
background: transparent linear-gradient(180deg, #F5EBFE 0%, #D9CEFE 100%) 0% 0% no-repeat padding-box;
  }
  .introAgenceContainer{
    display: flex;
    justify-content: space-around;
  }
  .introAImg{
    height: fit-content;
    width: 35%;
    padding-top: 4%;
    padding-left: 10%;
    padding-bottom: 5.5%;
  }
  .introAgenceText{
    height: auto;
    width: 36%;
    padding-top: 7%;
    padding-right: 15%;
    padding-left: 4%;
  }
  .introAgenceTitle{
    font-size: 2.3vw;
    padding-right: 0%;
    white-space: nowrap;
  }
  #txtIntroAgence{
    padding-top: 4%;
    font-weight: 500;
  }
  .introAgenceLines{
    display: flex;
    padding-top: 5%;
  }
  .line{
    display: flex;
  }
  .line p{
    padding-left: 5px;
  }


  .team {
    margin: 70px 10% 0 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .slider-container {
    width: 100%;
    height: 600px;
    display: flex;
    
  }
  
  .team-members {
    display: flex;
    width: 100%;
  }
  
  .members {
    display: flex;
    width: 95%;
    flex-wrap: wrap;
  }
  
  .member {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .member-avatar {
    width: 50%;
    margin-bottom: 20px;
  }
  
  .name {
    font-weight: bold;
    margin-bottom: -4px;
  }
  
  .arrow {
    height: 25%;
    align-self: center;
    cursor: pointer;
    margin-right: 7%;
  }

  .arrowBack {
    height: 25%;
    align-self: center;
    cursor: pointer;
    margin-left: 7%;
  }
  
  .team h4 {
    font-size: 2.2vw;
    margin-top: 26px;
  }
  
  .hoverable {
    width: 50%;
    background-color: #fcc42e;
    border-radius: 5%;
  }
  
  .hoverable h6,
  .hoverable p {
    margin-left: 10px;
    font-size: 0.8rem;
  }
  
  /*pub css*/

.pub {
  background: linear-gradient(0deg, rgba(219, 208, 254, 1) 22%, rgba(245, 243, 255, 1) 64%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.pub-text h4 {
font-size: 2.4vw;
}
.pub-container {
  display: flex;
  align-items: center;
  margin-left: 7%;
  padding: 3% 0;
}

.pub-text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.pub-btn {
  height: 6vh;
  width: 70%;
  border: none;
  border-radius: 5px;
  outline: none;
  font-weight: bold;
  background-color: #fcc42e;
  margin-top: 5%;
  font-size: 1.3vw;
}

.pubImg {
  width: 30%;
  margin-left: 2%;
}

.cloud1 {
  position: relative;
  top: 70px;
}

.cloud2 {
  position: relative;
  bottom: 120px;
  width: 70px;
}

.cloud3 {
  position: relative;
  bottom: 60px;
  left: 50px;
  width: 100px;
}

/*agency css*/

.partTwo {
  display: flex;
  margin-top: 100px;
  padding-left: 7.29%;
}

.box {
  width: 18.33% ;
  padding: 3% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 4px #e3d9ea;
  border-radius: 20px;
  margin-right: 4.01%;
}



.box p {
  font-weight: 600;
  margin: 5% 0;
}

.agencyCheck {
  display: flex;
}

.partOne {
  display: flex;
  margin-top: 196px;
}

.agencyText {
  margin-left: 7.29%;
  width: 20.73%;
  margin-right: 11.61% ;
}

.agencyText h4 {
  width: 90.2%;
  font-size: 2.35vw;
  margin-bottom: 10px;
  margin-top: 32px;
}

.texto {
  width: 100%;
  font-size: 1vw;
  margin-bottom: 32px;
}

.agencyCheck p {
  font-size: 1vw;
  margin-left: 16px;
}

.agencyMenu {
  display: flex;
  margin-right: 7.29%;
   width: 53.28%;
   height: 744px;
}


.menuBar {
  width: 25.9%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.menuBtn{
  height: 160px;
  font-size: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5vw;
  background-color: white;
  border-left: 4px solid #D7CFFA;
}
.containerPlace {
  width: 75.4%;
  border: 4px solid #D7CFFA;
  border-radius: 0px 45px 45px 0px;
}

.oimg {
  margin-right: 10px;
}

.iilg {
  margin-left: 31px;
}

.menuBtn:focus {
  background: transparent linear-gradient(91deg, #F5EBFE 0%, var(--unnamed-color-d9cefe) 100%) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(91deg, #F5EBFE 0%, #D9CEFE 100%) 0% 0% no-repeat padding-box;
  border-radius: 56px 0px 0px 56px;
  border: none;
}


.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.innerP {
  margin-bottom: 180px;
  width:  54.62%;
  margin-top: 80px;
  font-size: 1.2vw;
}

#bg , .dude   {
  width: 54.62%;
  max-height: 260px;
}

.specialInner {
  font-size: 1vw;
}





















/*page realisations*/

.nosRealisations {
  display: flex;
  align-items: center;
   margin-top:100px;
   height: 320px;
   background: transparent linear-gradient(180deg, #F5EBFE 0%, var(--unnamed-color-d9cefe) 100%) 0% 0% no-repeat padding-box;
   background: transparent linear-gradient(180deg, #F5EBFE 0%, #D9CEFE 100%) 0% 0% no-repeat padding-box;
 }

 .realContainer {
   display: flex;
   align-items: center;
   width:50.32%;
   margin-left:  24.84%;
   margin-right:  24.84%;

 }

 .realImg {
  width: 34.88%;
  max-height: 262px;
  margin-right: 8.07%;
 }

 .realisationsText {
  width: 59.31%;
 }

 .realisationsText p {
   margin-top: 28px;
   height: 80px;
   font-size: 1.02vw;
}

.realisationsText h4 {
   width: 51.83%;
   font-size: 2.8vw;
   white-space: nowrap;
}

.contact {
  display: flex;
  align-items: center;
  border: 4px solid #E3D9EA;
  border-radius: 45px;
  margin-left: 7%;
  margin-right: 7%;
  margin-bottom: 4%;
  margin-top: 160px;
  width:  87.1%;
  padding: 4% 0;
}

.contactText {
 width: 65.8%;
 margin-left: 5.12%;
}

.contactText h4{
  font-size: 5.8vh;
}

.contactText .specialTitle {
  margin-bottom: 32px;
  font-size: 3vh;
}

.contactText p {
  width: 40%;
  font-size: 2vh;
  margin-top: 20px;
}

.contactImg {
  max-height: 489px;
  width: 44.02%;
  margin-right: 5.12%;
}

.contactBtn {
 height: 56px;
 width:  21.79%;
 font-size: 1.4vw;
 margin-top: 90px;
}


  /*footer styling*/ 

.footer {
  height: 100px;
  width: 100%;
  margin-top: ;
  background: transparent linear-gradient(180deg, #F5EBFE 0%, var(--unnamed-color-d9cefe) 100%) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(180deg, #F5EBFE 0%, #D9CEFE 100%) 0% 0% no-repeat padding-box;
   opacity: 1;
}